<div class="sidebar-left-container">

    <div class="sidebar-left-head">
        <p>Review</p>
    </div>

    <div class="sidebar-left-body">
        <div class="sidebar-section">
            <a href="{% url 'followed-users-page' %}"><i class="fa-solid fa-user"></i> Followed Users</a>
        </div>
        <div class="sidebar-section">
            <a href="{% url 'bookmarked-posts-page' %}"><i class="fa-solid fa-bookmark"></i> Bookmarked Posts</a>
        </div>
        <div class="sidebar-section">
            <a href="{% url 'liked-posts-page' %}"><i class="fa-solid fa-heart"></i> Liked Posts</a>
        </div>
        <div class="sidebar-section">
            <a href="{% url 'disliked-posts-page' %}"><i class="fa-solid fa-heart-crack"></i> Disliked Posts</a>
        </div>
    </div>
</div>

